nav {
  background-color: #333333;
  padding: 10px 10px 15px 10px;
}

nav ul {
  margin: 0;
  list-style: none;
  display: flex;
}

nav ul li {
  align-items: center;
  text-align: center;
}

nav ul li a {
  padding: 10px 10px 15px 10px;
  background-color: #333333;
  color: white;
  text-decoration: none;
}

.active {
  background-color: #c2b506;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 20px 140px 0px 140px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
}

.card {
  text-align: center;
  background-color: rgba(0, 0, 0, 10%);
}

.card img {
  width: 380px;
}

.card button {
  width: 380px;
  color: white;
  background-color: black;
}

.card h3 {
  margin: 10px 0;
}

.card p {
  margin: 10px 0 15px 0;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #c2b506;
  color: white;
}

footer img {
  filter: invert(1);
  width: 12px;
  height: 12px;
}

